@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';

@font-face {
      font-family: 'Baloo Thambi';
      src: url('../public/font/BalooThambi-Regular.ttf');
}

@font-face {
      font-family: 'Bungee';
      src: url('../public/font/Bungee-Regular.ttf');
}

@theme {
      --color-quiz-dark-green: #083335;
      --color-quiz-green: #11676a;
      --color-quiz-white: #caf5f7;
      --color-quiz-light-green: #1cabb0;
}

@layer utilities {
      .scrollbar::-webkit-scrollbar {
            width: 15px;
            height: 15px;
      }

      .scrollbar::-webkit-scrollbar-track {
            border-radius: 100vh;
            background: #1cabb0;
      }

      .scrollbar::-webkit-scrollbar-thumb {
            background: #11676a;
            border-radius: 100vh;
      }

      .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #083335;
      }
}

.input {
      @apply bg-quiz-green text-quiz-white w-full rounded-xl p-2;
}

.button {
      @apply bg-quiz-dark-green text-quiz-white border-quiz-dark-green w-full cursor-pointer rounded-xl border-3 p-3 text-center transition-shadow duration-200 ease-out;
}
.button:hover {
      @apply bg-quiz-light-green border-quiz-light-green scale-105 shadow-lg;
}
.button:active {
      @apply translate-y-1 scale-95;
}

.button:focus {
      @apply outline-none; /* removes default outline for all focus events */
}

.button:focus-visible {
      @apply ring-quiz-light-green ring-2 ring-offset-2;
}

.secondaryButton {
      @apply text-quiz-dark-green w-full cursor-pointer rounded-xl border-3 bg-none p-3 text-center transition-shadow duration-200 ease-out;
}

.secondaryButton:hover {
      @apply scale-105 shadow-lg;
}
.secondaryButton:active {
      @apply translate-y-1 scale-95;
}

.secondaryButton:focus {
      @apply outline-none; /* removes default outline for all focus events */
}

.secondaryButton:focus-visible {
      @apply ring-quiz-light-green ring-2 ring-offset-2;
}

/* optional: remove mobile tap highlight */
.secondaryButton,
.secondaryButton * {
      -webkit-tap-highlight-color: transparent;
}

.secondaryButton,
.secondaryButton * {
      -webkit-tap-highlight-color: transparent;
}

/* root should be allowed to grow; use min-height to fill viewport when needed */
#root,
body {
      width: 100%;
      min-height: 100vh;
      height: auto;
}

:root,
#root {
      font-family: 'Baloo Thambi', system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1;
      font-weight: 400;

      color-scheme: light dark;
      background-image: url('./assets/background.png');
      background-color: #11676a;
      background-size: cover;

      color: #083335;

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

a {
      font-weight: 500;
      text-decoration: inherit;
}

body {
      margin: 0;
      min-width: 320px;
      min-height: 100vh;
      width: 100%;
      height: 100%;
}
